@import "config";
@import "responsive";
@import "topbar";
@import "header";
@import "hero";
@import "iconBoxes";
@import "about";
@import "services";
@import "clients";
@import "whyus";
@import "cta";
@import "portfolio";
@import "team";
@import "pricing";
@import "faq";
@import "contact";
@import "footer";
@import "~bootstrap/scss/bootstrap";


body{
  font-family: 'Open Sans', sans-serif;
  color: #444;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Raleway", sans-serif;
}

a{
  text-decoration: none;
  color: $primaryColor;
  @include transition-ease;

  &:hover{
    text-decoration: none;
    color: $yellowColor;
  }
}
li{
  list-style: none;
}

section{
  padding: 60px 0;
  overflow: hidden;
}


/**********
BACK TO TOP
************/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #0880e8;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #2194f7;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}